In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from skimage import io
from torchvision.transforms import transforms

In [2]:
filenames = []
labels = []

for filename in os.listdir(os.getcwd() + '/train'):
    
    if filename[:3] == 'cat':
        filenames.append(filename)
        labels.append(0)
        
    elif filename[:3] == 'dog':
        filenames.append(filename)
        labels.append(1)
        
df = pd.DataFrame(filenames, columns=['filename'])
df['label'] = labels
df.head(10)

        filename  label
0   dog.8011.jpg      1
1   cat.5077.jpg      0
2   dog.7322.jpg      1
3   cat.2718.jpg      0
4  cat.10151.jpg      0
5   cat.3406.jpg      0
6   dog.1753.jpg      1
7   cat.4369.jpg      0
8   cat.7660.jpg      0
9   dog.5535.jpg      1

In [3]:
num_cats = 250
num_dogs = 250

df_cats = df[df['label'] == 0]
df_dogs = df[df['label'] == 1]

df_cats_sampled = df_cats.sample(num_cats)
df_dogs_sampled = df_dogs.sample(num_dogs)

df_sampled = df_cats_sampled.append(df_dogs_sampled)
df_sampled = df_sampled.sample(frac=1).reset_index(drop=True)

df_sampled.head(10)

        filename  label
0   dog.7662.jpg      1
1  dog.10491.jpg      1
2  cat.10498.jpg      0
3    cat.682.jpg      0
4   cat.3041.jpg      0
5   dog.1651.jpg      1
6   cat.3913.jpg      0
7   cat.8489.jpg      0
8   cat.6112.jpg      0
9   cat.5215.jpg      0

In [4]:
df_sampled.to_csv('train.csv', index=False)